{% extends "base.html" %}
{% block main %}

<div class="container w-75 mt-3">
    <ul class="list-group list-group-flush">

        {% for request in song_requests %}
        <li class="list-group-item mt-2 mb-2">

            <div class="d-flex justify-content-between mb-2">
                <div >
                    <h5 class="mb-1 mt-1">Demande n°{{ request.id }}</h5>
                    <p class="mb-0 justify">Par {{ request.user.username }}</p>
                </div>
                    {% if request.status.id == 2 %}
                <a class="btn btn-primary mt-2 mb-2" href="{{ url_for('administration_request_song', id = request.id) }}" role="button">Traiter</a>
                {% else %}
                    <a class="btn btn-danger mt-2 mb-2" href="{{ url_for('administration_request_song_delete', id = request.id) }}" role="button">Supprimer</a>
                {% endif %}
            </div>

            <div class="row">
                <div class="col">
                    Animé : {{ request.anime.name }}
                </div>
                <div class="col">
                    Titre : {{ request.title }}
                </div>
                <div class="col">
                    Relation : {{ request.relation }}
                </div>
                <div class="col">
                    <p class = "
                        {% if request.status.id == 1 %}
                        text-danger
                        {% elif request.status.id == 2 %}
                        text-warning
                        {% else %}
                        text-success
                        {% endif %}
                    ">
                        {{ request.status.name }}
                    </p>
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>

       
     </div>

</div>


{% endblock %}