{% extends "base.html" %}
{% block main %}
<div>
  <div class="container-fluid bg-dark banner">
  </div>
  
  <div class="container-fluid bg-custom">
      <div class="container offset ">
          <div class="d-flex justify-content-between">
            <h1 class="text-center text-white bg-dark pb-4">Catalogue - Animes</h1>
          <form action="" method="post" class = "needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="d-flex">
              {{ form.search(class_="form-control")}}
              {{ form.submit(class_="btn btn-outline-dark ms-1") }}
            </div>
          </form>
          </div>
          <div class="row row-cols-auto">
  
              {% for anime in animes.items %}
              <a class="text-decoration-none text-dark mb-4" href="{{ url_for('anime', id=anime.id) }}">
                <div class="col">
                  <div class="card border-0 d.flex flex-column align-items-center" style="background-color: #edf1f5;">
                    {% if anime.img %}
                    <img class="img-responsive rounded" src="{{ url_for('static', filename='images/'+anime.img) }}">
                    {% else %}
                    <img class="img-responsive rounded" src="">
                    {% endif %}
                    <div class="card-content pt-3 align-self-start">
                        <h6>{{anime.name}}</h6>
                    </div>
                  </div>
                </div>
              </a>
              {% endfor %}
            </div>
  
            <div class="container d-flex justify-content-center">
              <nav aria-label="...">
                <ul class="pagination">
    
    
                  {% if animes.has_prev %}
                  <li class="page-item">
                  <a class="page-link" href="{{ url_for('animes', page=animes.prev_num) }}" tabindex="-1"><</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="{{ url_for('animes', page=animes.prev_num) }}" tabindex="-1"><</a>
                  </li>
                  {% endif %}
    
                    {% for page_num in animes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    
                      {% if page_num %}
    
                        {% if animes.page == page_num %}
    
                          <li class="page-item active"><a class="page-link" href="{{ url_for('animes', page=page_num) }}">{{ page_num }}</a></li>
    
    
                        {% else %}
    
                          <li class="page-item"><a class="page-link" href="{{ url_for('animes', page=page_num) }}">{{ page_num }}</a></li>
    
                        {% endif %}
                      {% else %}
                            ...
                      {% endif %}
    
                    {% endfor %}
                    
                    {% if animes.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="{{ url_for('animes', page=animes.next_num) }}">></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('animes', page=animes.next_num) }}">></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            </div>
      </div>
  </div>
</div>

{% endblock %}