{% extends "base.html" %}
{% block main %}
<div class="container-fluid bg-dark banner">
</div>

<div class="container-fluid bg-custom">
    <div class="container offset ">
        <h1 class="text-center text-white bg-dark pb-4">Catalogues</h1>
        <div class="row row-cols-auto">

            {% for anime in animes %}
            <a class="text-decoration-none text-dark mb-4" href="{{ url_for('anime', id=anime.id) }}">
              <div class="col">
                <div class="card border-0 d.flex flex-column align-items-center">
                  {% if anime.img %}
                  <img class="img-responsive rounded" src="{{ url_for('static', filename='images/'+anime.img) }}">
                  {% else %}
                  <img class="img-responsive rounded" src="">
                  {% endif %}
                  <div class="card-content pt-3 align-self-start">
                      <h6>{{anime.name}}</h6>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
        
        </div>
    </div>
</div>

{% endblock %}