{% extends "base.html" %}
{% block main %}
<div class="container">


<div>
    <ul>
        {% for anime in animes %}
        <li>
            <p>{{ anime.name }}</p>
    
            <div class="crop">
                <img src="{{ url_for('static', filename='images/'+anime.img) }}" alt="{{ anime.name }} image">
            </div>

            <ul>
                {% for song in anime.songs %}
                <li>
                    <p>Titre : {{ song.title }}    {{ song.relation}}</p>
                    <p>Interprète : {{ song.interpreter }}</p>
                    <a href="{{ song.ytb_url }}" target="_blank">youtube</a>
                    <a href="{{ song.spoty_url }}" target="_blank">spoty</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

</div>
{% endblock %}