{% extends "base.html" %}
{% block main %}

    <div class="container mt-3 flex-grow-1">
        
        <form action="" method="post" class = "needs-validation" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">


                {% if form.username.errors %}

                {{ form.username(class_="form-control is-invalid") }}
                <label for="floatingInput" class="form_label" >{{ form.username.errors[0] }}</label>

                {% else %}

                {{ form.username(class_="form-control") }}
                {{ form.username.label(class_="form-label") }}

                {% endif %}
            </div>

            <div class="form-floating mb-3">

                {% if form.password.errors %}

                {{ form.password(class_="form-control is-invalid") }}
                <label for="passwordInput" class="form_label" >{{ form.password.errors[0] }}</label>

                {% else %}

                {{ form.password(class_="form-control") }}
                {{ form.password.label(class_="form-label") }}

                {% endif %}

            </div>

            <div class="mb-3 form-check">
                {{ form.remember(class_="form-check-input") }}
                {{ form.remember.label(class_="form-check-label") }}
            </div>

            {% if not valid %}

            <div class="alert alert-danger" role="alert">
                Mot de passe ou pseudo incorrect
            </div>

            {% endif %}

            <div class="mb-3">
                {{ form.submit(class_="btn btn-outline-dark") }}
            </div>

        </form>

        <p>Pas encore de compte ? <a href="{{ url_for('register') }}" class="link-primary">Inscrivez-vous</a> !</p>

    </div>

{% endblock %}