{% extends "base.html" %}
{% block main %}
<div class="container">

    <ul>
        <li>id : {{ request.id }}</li>
        <li>title : {{ request.title }}</li>
        <li>relation : {{ request.relation }}</li>
        <li>interpreter : {{ request.interpreter }}</li>
        <li>anime : {{ request.anime }}</li>
        <li>Statut : Demande {{ request.status }}</li>
    </ul>

    <form action="" method="post" class = "needs-validation" novalidate>

        {{ form.hidden_tag() }}
        {{ form.delete(class_="btn btn-outline-dark") }}

    </form>

</div>
{% endblock %}