{% extends "base.html" %}
{% block main %}
<div class="container">

    <h1>Demande de son</h1>

    <ul>

    {% for request in song_requests %}

    <li>
        <ul>
            <li>id : {{ request.id }}</li>
            <li>title : {{ request.title }}</li>
            <li>relation : {{ request.relation }}</li>
            <li>interpreter : {{ request.interpreter }}</li>
            <li>anime : {{ request.anime }}</li>
        </ul>
    </li>

    {% endfor %}

    </ul>

</div>
{% endblock %}