{% extends "base.html" %}
{% block main %}
<div class="container-fluid bg-dark banner">
    
</div>

<form action="" method="post" class = "needs-validation" novalidate>
    {{ form.hidden_tag() }}
    <div class="d-flex">
      {{ form.search(class_="form-control")}}
      {{ form.submit(class_="btn btn-outline-dark ms-1") }}
    </div>
</form>

<div class="container-fluid bg-custom">
    <div class="container offset ">
        <h1 class="text-center text-white bg-dark">Catalogue - Musiques</h1>
        <div class="row row-cols-auto">
            {% for song in songs.items %}
                <div class="col mb-2 mt-3">
                    <div class="card h-100">
                        <div class="card-horizontal">
                            <div class="card-body">
                                <h4 class="card-title text-dark">{{song.title}}</h4>
                                <p class="card-text text-dark">{{song.interpreter}}</p>
                                <p class="card-text text-muted d-inline-block">{{song.relation}}</p>
                                <p class="card-text text-muted d-inline-block"> • </p>
                                <i class="fa fa-youtube-play play-btn" onclick="on( '{{ song.ytb_url }}' )" style="font-size:24px;color:red"></i>
                                <i class="fa fa-spotify play-btn" onclick="launcher( '{{ song.spoty_url }}' ) " style="font-size:24px; color: #1DB954; vertical-align: baseline;"></i>
                                <p class="card-text d-inline-block"><a href="">{{song.anime.name}}</a></p>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">


          {% if songs.has_prev %}
          <li class="page-item">
          <a class="page-link" href="{{ url_for('songs', page=songs.prev_num) }}" tabindex="-1"><</a>
          </li>
          {% else %}
          <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('songs', page=songs.prev_num) }}" tabindex="-1"><</a>
          </li>
          {% endif %}

            {% for page_num in songs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

              {% if page_num %}

                {% if songs.page == page_num %}

                  <li class="page-item active"><a class="page-link" href="{{ url_for('songs', page=page_num) }}">{{ page_num }}</a></li>


                {% else %}

                  <li class="page-item"><a class="page-link" href="{{ url_for('songs', page=page_num) }}">{{ page_num }}</a></li>

                {% endif %}
              {% else %}
                    ...
              {% endif %}

            {% endfor %}
            
            {% if songs.has_next %}
            <li class="page-item">
            <a class="page-link" href="{{ url_for('songs', page=songs.next_num) }}">></a>
            </li>
            {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('songs', page=songs.next_num) }}">></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}