.crop {
    width: 150px;
    height: 200px;
    overflow: hidden;
}

.crop img{
    width: 80%;
}

.carousel-item{
    height: 500px;
}

.carousel-bg{

    position: absolute;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
}

.shadow{
    background-color: #000;
    height: 100%;
}